/* variables/ estilos */
@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
  background-color: #1e1e1e; }

/* Header */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #111111; }

.logo {
  font-size: 25px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
  color: white;
  width: max-content;
  text-transform: uppercase; }

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none; }

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content; }

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
  color: white; }

.nav-menu-link:hover {
  background-color: #034574;
  transition: 0.5s; }

.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none; }

@media (max-width: 600px) {
  .logo {
    font-size: 20px; }
  .nav-menu-item {
    font-size: 15px; } }

/* Aplicando sass a seccion Contacto */
.titulo_contacto {
  text-align: center;
  background-color: #1e1e1e;
  color: whitesmoke;
  border: 1px;
  padding: 50px; }

.contacto_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ec3838;
  padding: 10px;
  box-sizing: border-box; }

.contacto_cont div {
  background-color: #b82424;
  width: 400px;
  height: 100px;
  margin: 100px;
  text-align: center;
  cursor: pointer;
  padding: 20px; }

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  background-color: #ec3838;
  padding: 10px;
  align-items: center; }
