/* HEADER */

header{
    height: 100px;
    background: rgb(17, 17,17);
    padding: 0 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-transform: uppercase;
    font-weight: 200;
}

.menu a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu {
    order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: whitesmoke;
    background-color: #ec3838;
    border-radius: 3px;
}

#check {
    display: none;
}