
/* SECCION ACERCA */

.acerca-titulo{
    background-color: #1e1e1e;
    text-align: center;
    color: whitesmoke;
    border: 1px;
    padding: 50px;
}

.acerca-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ec3838;
    padding: 10px;
    box-sizing: border-box;
}

.acerca-cajas{
    background-color: #b82424;
    width: 300px;
    height: 100px;
    margin: 100px;
    text-align: center;
    cursor: pointer;
    padding: 20px;
}

/* mapa acerca */

.mapa {
    text-align: center;
    padding: 20px;
    background: rgb(17, 17,17);
    color: white;

}

.mapa-item {
    padding: 20px;
    
   
}


/* formulario contacto */

.contacto{
    text-align: center;
    padding: 20px;
}
