/* ACERCA */

.info {
    padding: 35px;
    color: white;  
    background: rgb(30, 30, 30);
    text-align: center;
    width: auto;
    }

  
    .info_text {
        padding: 30px;
    }
/* Galeria de img */


img {
    width: 100%;
}    

.photo_item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    border: solid 1px rgb(255,255,255);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photo_item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
    cursor: pointer;

}

.photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-auto-rows: 400px;
    gap: 10px;
    padding: 20px;
}



@media (max-width: 600px) {
    .row {
        flex-wrap: wrap;}

    .photo {
        flex: 100%;
    }
}
