
/* GALERIA FUTBOL */

.foto1f {
    background-image: url(../Img/futbol1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.foto2f {
    background-image: url(../Img/futbol2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.foto3f {
    background-image: url(../Img/futbol3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.foto4f {
    background-image: url(../Img/futbol4.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.foto5f{
    background-image: url(../Img/futbol5.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.foto6f{
    background-image: url(../Img/recreativ_img1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.foto7f{
    background-image: url(../Img/photo9.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.foto8f {
    background-image: url(../Img/recreativ_img2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
